*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: Century Gothic;
}

.logo{
	color: #fff1f0;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 20px;
	position: relative;
	float: left;
	margin-top: 18px;
	margin-left: 18px;
}

header {
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../backgr.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

ul{
	list-style-type: none;
	float: right;
	margin-top: 25px;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.3s ease;
}

ul li a:hover{
	background-color: white;
	color: #000;
}

ul li.active a{
	background-color: #fff;
	color: #000;
}

.title{
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.title h1{
	color: #fff;
	font-size: 70px;
	font-style: normal;
	font-family: 'courier new', monospace;
}

.title h2{
	position: absolute;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 
}
 .container{
 	width: 80%;
 	margin: auto;
 	overflow: hidden;
 }
 #boxes .box{
 	float:left;
 	text-align: center;
 	width: 30%;
 	padding: 10px;
 }

 #boxes .box img{
 	width: 120px;
 }
